.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

/* @font-face {
    font-family: ff1;
    src: url(f1.woff)format("woff");
} */

.ff1 {
    font-family: ff1;
    line-height: 0.860840;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff2;
    src: url(f2.woff)format("woff");
} */

.ff2 {
    font-family: ff2;
    line-height: 0.916992;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff3;
    src: url(f3.woff)format("woff");
} */

.ff3 {
    font-family: ff3;
    line-height: 0.860840;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff4;
    src: url(f4.woff)format("woff");
} */

.ff4 {
    font-family: ff4;
    line-height: 0.887695;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff5;
    src: url(f5.woff)format("woff");
} */

.ff5 {
    font-family: ff5;
    line-height: 0.938477;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff6;
    src: url(f6.woff)format("woff");
} */

.ff6 {
    font-family: ff6;
    line-height: 0.916992;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff7;
    src: url(f7.woff)format("woff");
} */

.ff7 {
    font-family: ff7;
    line-height: 0.938477;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff8;
    src: url(f8.woff)format("woff");
} */

.ff8 {
    font-family: ff8;
    line-height: 1.104980;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ff9;
    src: url(f9.woff)format("woff");
} */

.ff9 {
    font-family: ff9;
    line-height: 1.104980;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ffa;
    src: url(fa.woff)format("woff");
} */

.ffa {
    font-family: ffa;
    line-height: 1.106934;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

/* @font-face {
    font-family: ffb;
    src: url(fb.woff)format("woff");
} */

.ffb {
    font-family: ffb;
    line-height: 1.106934;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -ms-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -webkit-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
}

.v0 {
    vertical-align: 0.000000px;
}

.ls0 {
    letter-spacing: 0.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
    text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }

    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.ws0 {
    word-spacing: 0.000000px;
}

._1 {
    margin-left: -1.632000px;
}

._0 {
    width: 36.000000px;
}

.fc2 {
    color: rgb(0, 51, 102);
}

.fc1 {
    color: rgb(0, 0, 255);
}

.fc0 {
    color: rgb(0, 0, 0);
}

.fs3 {
    font-size: 36.000000px;
}

.fs0 {
    font-size: 44.000000px;
}

.fs1 {
    font-size: 48.000000px;
}

.fs2 {
    font-size: 64.000000px;
}

.fs4 {
    font-size: 96.000000px;
}

.y6 {
    bottom: 2.024002px;
}

.y23 {
    bottom: 2.596000px;
}

.y14 {
    bottom: 7.197001px;
}

.y19 {
    bottom: 8.047001px;
}

.y3 {
    bottom: 15.872000px;
}

.y25 {
    bottom: 15.997001px;
}

.y1c {
    bottom: 16.395000px;
}

.y21 {
    bottom: 16.395003px;
}

.y5 {
    bottom: 16.743001px;
}

.y17 {
    bottom: 23.294998px;
}

.y2 {
    bottom: 29.547001px;
}

.y1b {
    bottom: 30.194000px;
}

.y20 {
    bottom: 30.194003px;
}

.y1 {
    bottom: 35.999985px;
}

.y16 {
    bottom: 43.992999px;
}

.y1f {
    bottom: 43.993003px;
}

.y1e {
    bottom: 57.792003px;
}

.y0 {
    bottom: 78.000000px;
}

.y15 {
    bottom: 107.602013px;
}

.y1d {
    bottom: 193.224983px;
}

.y13 {
    bottom: 277.798012px;
}

.y12 {
    bottom: 320.793010px;
}

.y11 {
    bottom: 341.491008px;
}

.y10 {
    bottom: 362.189006px;
}

.y1a {
    bottom: 377.219986px;
}

.yf {
    bottom: 382.887004px;
}

.ye {
    bottom: 403.585002px;
}

.y24 {
    bottom: 405.917988px;
}

.yd {
    bottom: 427.384013px;
}

.y22 {
    bottom: 548.118004px;
}

.yc {
    bottom: 570.178004px;
}

.y18 {
    bottom: 578.614002px;
}

.yb {
    bottom: 593.977000px;
}

.ya {
    bottom: 617.776004px;
}

.y9 {
    bottom: 641.575000px;
}

.y8 {
    bottom: 665.374003px;
}

.y7 {
    bottom: 695.907003px;
}

.y4 {
    bottom: 742.399998px;
}

.ha {
    height: 23.000000px;
}

.hc {
    height: 24.700001px;
}

.he {
    height: 27.200001px;
}

.h7 {
    height: 28.072266px;
}

.h4 {
    height: 29.669922px;
}

.h5 {
    height: 31.750002px;
}

.h3 {
    height: 37.429688px;
}

.h9 {
    height: 42.773438px;
}

.h2 {
    height: 46.472000px;
}

.h6 {
    height: 46.593750px;
}

.hb {
    height: 55.195999px;
}

.hd {
    height: 68.995003px;
}

.h8 {
    height: 85.546875px;
}

.h1 {
    height: 700.000000px;
}

.h0 {
    height: 792.000000px;
}

.w3 {
    width: 268.649994px;
}

.w5 {
    width: 269.250000px;
}

.w4 {
    width: 269.850006px;
}

.w2 {
    width: 292.500000px;
}

.w1 {
    width: 543.000000px;
}

.w0 {
    width: 612.000000px;
}

.x1 {
    left: 0.000000px;
}

.xb {
    left: 5.150000px;
}

.x5 {
    left: 17.368001px;
}

.x0 {
    left: 34.500000px;
}

.x2 {
    left: 36.000000px;
}

.x9 {
    left: 45.512000px;
}

.x8 {
    left: 54.000000px;
}

.x6 {
    left: 71.376003px;
}

.x4 {
    left: 168.000000px;
}

.x7 {
    left: 240.300003px;
}

.xa {
    left: 305.649994px;
}

.x3 {
    left: 567.487000px;
}

@media print {
    .v0 {
        vertical-align: 0.000000pt;
    }

    .ls0 {
        letter-spacing: 0.000000pt;
    }

    .ws0 {
        word-spacing: 0.000000pt;
    }

    ._1 {
        margin-left: -2.176000pt;
    }

    ._0 {
        width: 48.000000pt;
    }

    .fs3 {
        font-size: 48.000000pt;
    }

    .fs0 {
        font-size: 58.666667pt;
    }

    .fs1 {
        font-size: 64.000000pt;
    }

    .fs2 {
        font-size: 85.333333pt;
    }

    .fs4 {
        font-size: 128.000000pt;
    }

    .y6 {
        bottom: 2.698670pt;
    }

    .y23 {
        bottom: 3.461333pt;
    }

    .y14 {
        bottom: 9.596001pt;
    }

    .y19 {
        bottom: 10.729335pt;
    }

    .y3 {
        bottom: 21.162666pt;
    }

    .y25 {
        bottom: 21.329334pt;
    }

    .y1c {
        bottom: 21.859999pt;
    }

    .y21 {
        bottom: 21.860004pt;
    }

    .y5 {
        bottom: 22.324002pt;
    }

    .y17 {
        bottom: 31.059998pt;
    }

    .y2 {
        bottom: 39.396001pt;
    }

    .y1b {
        bottom: 40.258667pt;
    }

    .y20 {
        bottom: 40.258671pt;
    }

    .y1 {
        bottom: 47.999980pt;
    }

    .y16 {
        bottom: 58.657332pt;
    }

    .y1f {
        bottom: 58.657337pt;
    }

    .y1e {
        bottom: 77.056004pt;
    }

    .y0 {
        bottom: 104.000000pt;
    }

    .y15 {
        bottom: 143.469350pt;
    }

    .y1d {
        bottom: 257.633311pt;
    }

    .y13 {
        bottom: 370.397349pt;
    }

    .y12 {
        bottom: 427.724013pt;
    }

    .y11 {
        bottom: 455.321344pt;
    }

    .y10 {
        bottom: 482.918674pt;
    }

    .y1a {
        bottom: 502.959981pt;
    }

    .yf {
        bottom: 510.516005pt;
    }

    .ye {
        bottom: 538.113336pt;
    }

    .y24 {
        bottom: 541.223984pt;
    }

    .yd {
        bottom: 569.845351pt;
    }

    .y22 {
        bottom: 730.824005pt;
    }

    .yc {
        bottom: 760.237339pt;
    }

    .y18 {
        bottom: 771.485336pt;
    }

    .yb {
        bottom: 791.969334pt;
    }

    .ya {
        bottom: 823.701338pt;
    }

    .y9 {
        bottom: 855.433333pt;
    }

    .y8 {
        bottom: 887.165338pt;
    }

    .y7 {
        bottom: 927.876005pt;
    }

    .y4 {
        bottom: 989.866664pt;
    }

    .ha {
        height: 30.666667pt;
    }

    .hc {
        height: 32.933334pt;
    }

    .he {
        height: 36.266668pt;
    }

    .h7 {
        height: 37.429688pt;
    }

    .h4 {
        height: 39.559896pt;
    }

    .h5 {
        height: 42.333336pt;
    }

    .h3 {
        height: 49.906250pt;
    }

    .h9 {
        height: 57.031250pt;
    }

    .h2 {
        height: 61.962667pt;
    }

    .h6 {
        height: 62.125000pt;
    }

    .hb {
        height: 73.594666pt;
    }

    .hd {
        height: 91.993337pt;
    }

    .h8 {
        height: 114.062500pt;
    }

    .h1 {
        height: 933.333333pt;
    }

    .h0 {
        height: 1056.000000pt;
    }

    .w3 {
        width: 358.199992pt;
    }

    .w5 {
        width: 359.000000pt;
    }

    .w4 {
        width: 359.800008pt;
    }

    .w2 {
        width: 390.000000pt;
    }

    .w1 {
        width: 724.000000pt;
    }

    .w0 {
        width: 816.000000pt;
    }

    .x1 {
        left: 0.000000pt;
    }

    .xb {
        left: 6.866667pt;
    }

    .x5 {
        left: 23.157334pt;
    }

    .x0 {
        left: 46.000000pt;
    }

    .x2 {
        left: 48.000000pt;
    }

    .x9 {
        left: 60.682666pt;
    }

    .x8 {
        left: 72.000000pt;
    }

    .x6 {
        left: 95.168004pt;
    }

    .x4 {
        left: 224.000000pt;
    }

    .x7 {
        left: 320.400004pt;
    }

    .xa {
        left: 407.533325pt;
    }

    .x3 {
        left: 756.649333pt;
    }
}